/* WEBSITE BRAND NAME */
.navbar-brand-text {
  font-family: "Handlee", cursive;
  font-size: 1.7rem;
  margin-left: 6px;
}

/* NAVBAR */
.navbar {
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
}

.navbar .container {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  max-width: 100% !important;
}

.brand-logo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

footer {
  background-color: #f1f5f9; /* light grey-blue */
  color: #555;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #0d6efd;
  text-decoration: none;
}
.footer-social i {
  font-size: 18px;
  color: #6c757d;
}

.footer-social i:hover {
  color: #0d6efd;
}
