/* WEBSITE BRAND NAME */
.navbar-brand-text {
  font-family: "Handlee", cursive;
  font-size: 1.7rem;
  margin-left: 6px;
}

/* NAVBAR */
.navbar {
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
}

.navbar .container {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  max-width: 100% !important;
}

.brand-logo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

/* Offcanvas nav by profile photo */
.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

/* Sidebar width */
.offcanvas {
  width: 280px !important;
}

.prof-nav {
  background-color: transparent !important;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255),
      rgba(210, 206, 206),
      rgb(199, 193, 193)
    )
    #ffffff;
}

/* Profile image inside sidebar */
.sidebar-profile-img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

/* Nav links */
.sidebar-nav .nav-link {
  padding: 12px 20px;
  font-size: 14px;
  color: #333;
}

.sidebar-nav .nav-link:hover {
  background: #f5f6f8;
  border-radius: 10px;
}

.sidebar-nav .nav-link.active {
  background: #eef2ff;
  color: #4f46e5;
  font-weight: 600;
  border-radius: 10px;
}

footer {
  background-color: #f1f5f9; /* light grey-blue */
  color: #555;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #0d6efd;
  text-decoration: none;
}
.footer-social i {
  font-size: 18px;
  color: #6c757d;
}

.footer-social i:hover {
  color: #0d6efd;
}
